*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ede3d3;
}

.back-btn {
  position: fixed;
  left: 10px;
  right: 0px;
  top: 0px;
  width: 60px;
  height: 30px;
  background-color: #F5E6C8;
  border: 1px solid #d8c3a5;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-btn:hover {
  background-color: #e8d6b8;
}

.top-bar{
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
}


.hero{
  text-align: center;
  padding: 40px 20px;
}

.about{
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-row{
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-row.reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
}

.about-row img{
  width: 380px;
  height: 260px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.about-text{
  flex: 1;
}

.about-text h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p{
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

.location{
  max-width: 900px;
  margin: 60px auto;
  text-align: center;
}

.map-image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin: 15px 0;
}

.location button{
  background: #c8a96a;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
}

footer{
  text-align: center;
  padding: 35px;
  background: black;
  color: white;
  margin-top: 40px;
}

@media (max-width: 768px) {

  .hero{
    padding: 25px 15px;
  }

  .about{
    padding: 25px 15px;
    gap: 25px;
  }

  .about-row{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .about-row.reverse{
    flex-direction: column;
  }

  .about-row img{
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .about-text h3{
    font-size: 20px;
  }

  .about-text p{
    font-size: 14px;
    line-height: 1.5;
  }

  .location{
    padding: 0 15px;
  }

  .map-image img{
    height: auto;
  }

  .location button{
    width: 80%;
    padding: 12px;
    font-size: 14px;
  }

  footer{
    padding: 20px;
    font-size: 14px;
  }
}